body {
	background-color:    rgb(26, 26, 26);
	margin:              0;

	-ms-user-select:     none;
	-webkit-user-select: none;
	user-select:         none;
}

.container {
	display:          flex;
	background-color: rgb(26, 26, 26);
	align-items:      center;
	min-width:        600px;
}

.box {
	flex:            1;
	display:         flex;
	justify-content: center;
}

.box:first-child > div {
	margin-right: auto;
	min-width:    300px;
}

.box:last-child > div {
	margin-left: auto;
}

p {
	font-size: 20px;
	color:     white;
	margin:    0;
	padding:   0;
}

button {
	color:            white;
	font-size:        15px;
	background-color: rgb(26, 26, 26);
	border-radius:    5px;
	border:           none;
}

button:hover {
	background-color: rgb(66, 66, 66);
}

button#close:hover {
	background-color: rgb(232, 17, 35);
}
